.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 90%;
}

@media (width >= 1024px) {
    img {
        width: 50%;
    }
}